/* This was unlabeled, between an Accordion section and a DataTable section. */

.organization h2 {
  margin: 0 0 23px;
}
.organization .custom-select {
    min-width: 246px;
}
.total-spent {
  background: url(../images/lines-bg.jpg) repeat-x;
  padding: 32px 37px;
  margin-top: 51px;
}
.total-spent h3{
  color: #232740;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0 0 0px;
  margin: 0;
}
.total-spent h3 span {
    font-weight: normal;
}
.divider{
  height: 1px;
  background: #555555;
  border: 0;
  margin: 70px 0 0;
}
.org-graph-box{
border-top: 1px solid #000;
margin-top: 50px;
}
.org-graph {
  padding:24px 0 50px 0;
}
.org-graph img { max-width: 100% }
.organization .table {
  margin-bottom: 0px;
}
