/* .filters .multi-filter .filter-dropdown is also specified in the Tabs section/file. */

/********************Sidebar******************/
.sidebar .filters {
    position: relative;
    padding: 0;
}

.sidebar .filters .filter-dropdown {
    position: absolute;
    top: 0;
    z-index: 0;
}
.sidebar .filters .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.filters .multi-filter .filter-dropdown {
    position: absolute;
    left: 0;
    top: 0;
}
.filters .multi-filter .mutiselect .select2-search input{
  padding-left: 50px;
}
.filters .multi-filter .select2-results {
  max-width: 100%
}
.sidebar .filters .input-group input {
    padding: 0 0 0 50px;
    height: 42px;
    border: 1px solid #D0D1DE;
    border-right: 0;
    box-shadow: none;
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    border-radius: 0;
}
.sidebar .filters .input-group input:focus{
  outline: none;
  box-shadow: none;
}
.sidebar .filters .input-group .input-group-append {
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
}
.sidebar .filters .input-group .btn {
  border: 1px solid #D0D1DE;
    border-radius: 0;
    border-left: 0;
    color: #232740;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.sidebar .filters .input-group .btn:hover{
  background: none;
  color: #232740;
  outline: none;
  box-shadow: none;
}
.sidebar .filters .filter-dropdown .dropdown-menu {
  min-width: 220px;
}
.sidebar .mutiselect .select2-search input {
    padding-left: 50px;
}
.sidebar .custom-select{
  width: 100%;
  z-index: 10px;
}
.sidebar .custom-select .select-selected {
    padding-left: 50px;
    white-space: nowrap;
    background: none;
}
/************Sidebar End*************/
